.audit-wrapper{
    padding: 10px;
    border: solid 1px black;
    margin: 10px;
}

button {
    margin-left: 10px;
}

.mat-form-field {
    margin-left: 10px;
}

.datagrid {
    width: 50%;
}

.datagrid td {
    border: solid 1px black;
    font-size: 20px;
}