.conversion-wrapper{
    padding: 10px;
    border: solid 1px black;
    margin: 10px;
}

.mat-form-field{
    margin-top:10px;
}

.result{
    background-color: rgb(250, 179, 250);
    padding:10px;
}

.result-display{
    font-size: 30px;
}